<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <style>
    .tab-links {
      display: flex;
      margin-bottom: 20px;
    }

    .tab-link {
      cursor: pointer;
      font-size: 16px;
      margin-right: 20px;
    }

    .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #fff;
    }
    .search-bar {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-left: 0px;
    }
    .search-input {
      padding: 5px;
      width: 200px;
      border: 5px solid #ccc;
      border-radius: 20px;
    }
     .highlight {
      background-color: yellow;
    }
    .styled-button {
      display: inline-block;
      padding: 5px;
      background-color: #3498db;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }
    
    .styled-button:hover {
      background-color: #2980b9;
    }
    .code-block {
      background-color: #000000;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: auto;
      flex: 1;
      margin-right: 10px;
    }
    .code-block1 {
      background-color: #000000;
      padding: 90px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: auto;
      flex: 1;
      margin-right: 10px;
    }
    .code-example {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .code-block code {
      display: block;
      padding: 0;
      margin: 0;
      font-family: "Courier New", monospace;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      white-space: pre-line;
    }
    .code-block1 code {
      display: block;
      padding: 0;
      margin: 0;
      font-family: "Courier New", monospace;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      white-space: pre-line;
    }
        .styled-button1 {
          display: inline-block;
      padding: 5px;
      background-color: #3498db;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-left: 30px;
      vertical-align: middle;

    }
    .simple-text-section {
    display: inline-block;
    vertical-align: right;
    margin-right: 20px;
    font-size: 16px;
  }
  </style>
  <title>Title page</title>  

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./work.html" title="">Home</a></li>          
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Reverse and Swapping Programs</h1>
          </div>
                             
            <div class="search-bar">
              <input class="search-input" type="text" placeholder="Type your Question" id="searchInput">
              <button class="styled-button" onclick="searchAndScroll()">Search</button>
              <div style="display: flex; align-items: center; justify-content: space-between;">
              <p style="margin-left: 700px; white-space: nowrap; margin-bottom: 0;">Array Questions</p>             
              <a href="./array.html" class="styled-button1" id="nextButton">Next</a>
            </div>
            </div>         
          <div class="tab-content" id="java-content">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a String</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                              public static void main(String[] args) {
                                String s = "india";
                                String reverse = "";
                                for (int i = s.length() - 1; i >= 0; i--) {
                                reverse = reverse + s.charAt(i);
                                }
                                System.out.println(reverse);
                                }
                              }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                          aidni
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a String using toCharArray</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                              public static void main(String[] args) {
                                String s = "tester";
                              char[] str = s.toCharArray();
                              for (int i = str.length - 1; i >= 0; i--) {
                              System.out.print(str[i]);
                              }
                              }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            retset
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a Sentence</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                              public static void main(String[] args) {
                                String s="I am ram";
                                for (int i=s.length()-1; i>=0; i--) {
                                System.out.print(s.charAt(i));
                                }
                                System.out.println();                              
                                }
                            }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                              mar ma I
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using Static Method</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;
                            
                            public class Test {
                            public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseStringUsingStaticmethod(input);
                              System.out.println(reversed);                              
                          }
                    
                          public static String reverseStringUsingStaticmethod(String str) {
                              int length = str.length();
                              char[] reversedChars = new char[length];
                    
                              for (int i = 0; i < length; i++) {
                                  reversedChars[length - 1 - i] = str.charAt(i);
                              }
                    
                              return new String(reversedChars);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            !dlroW ,olleH
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using array</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;
                            
                            public class Test {
                            public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseString(input);
                              System.out.println(reversed);                              
                          }                    
                          public static String reverseString(String str) {
                              char[] characters = str.toCharArray();
                              int length = characters.length;
                    
                              for (int i = 0; i < length / 2; i++) {
                                  char temp = characters[i];
                                  characters[i] = characters[length - 1 - i];
                                  characters[length - 1 - i] = temp;
                              }
                    
                              return new String(characters);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            !dlroW ,olleH
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using recursion</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseString(input);
                              System.out.println(reversed);
                          }
                    
                          public static String reverseString(String str) {
                              if (str.isEmpty()) {
                                  return str;
                              }
                              return reverseString(str.substring(1)) + str.charAt(0);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            !dlroW ,olleH
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using while loop</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static String reverseString(String str) {
                              int length = str.length();
                              StringBuilder reversed = new StringBuilder();
                    
                              while (length > 0) {
                                  reversed.append(str.charAt(length - 1));
                                  length--;
                              }
                    
                              return reversed.toString();
                          }
                    
                          public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseString(input);
                              System.out.println(reversed);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            !dlroW ,olleH
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using for loop</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static String reverseString(String str) {
                              int length = str.length();
                              StringBuilder reversed = new StringBuilder();
                      
                              for (int i = length - 1; i >= 0; i--) {
                                  reversed.append(str.charAt(i));
                              }
                      
                              return reversed.toString();
                          }
                      
                          public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseString(input);
                              System.out.println(reversed);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            !dlroW ,olleH
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse a string using split</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              String input = "Hello, World!";
                              String reversed = reverseString(input);
                              System.out.println(reversed);
                          }
                    
                          public static String reverseString(String str) {
                              if (str.isEmpty()) {
                                  return str;
                              }
                              return reverseString(str.substring(1)) + str.charAt(0);
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            World! Hello,
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Reverse each letter in a string</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              String s = "Hello, World!";
                                String [] s1= s.split(" ");
                                String result ="";
                                for(int i = 0; i<s1.length; i++) {
                                  String s2 = s1[i];
                                  for(int j=s2.length()-1; j>=0; j--) {
                                    result = result + s2.charAt(j);                                  
                                  }
                                  result = result+" ";
                                }
                                System.out.println(result);                             
                          }
                        }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            ,olleH !dlroW 
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap Array without third Variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              int x[]= {1,2,3};
                              int y[]= {3,4,5};
                              for (int i = 0; i < x.length; i++) {
                                x[i]= x[i]-y[i];
                                y[i] = x[i]+y[i];
                                x[i]= y[i]-x[i];
                                
                              }
                              System.out.println(Arrays.toString(x));
                              System.out.println(Arrays.toString(y));
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            [3, 4, 5]
                            [1, 2, 3]
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap Array with thrid variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              int x[]= {1,2,3};
                              int y[]= {3,4,5};
                              if(x.length == y.length) {
                                int temp;
                                for (int i = 0; i < x.length; i++) {
                                  temp = x[i];
                                  x[i] = y[i];
                                  y[i] = temp;
                                }
                              }
                              System.out.println(Arrays.toString(x));
                              System.out.println(Arrays.toString(y));
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            [3, 4, 5]
                            [1, 2, 3]
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap number without third variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              int a = 10, b=20;
                              a=a-b;
                              b=a+b;
                              a=b-a;
                              System.out.println(a);
                              System.out.println(b);
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            20
                            10
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap number using third variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              int a=10, b=20, temp;
                              temp=a;
                              a=b;
                              b=temp;
                              System.out.println(a);
                              System.out.println(b);                              
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            20
                            10
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap String without third variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              String s1="Good", s2="morning";
                              s1=s1+s2;
                              s2=s1.substring(0,s1.length()-s2.length());
                              s1= s1.substring(s2.length());
                              System.out.println(s1);
                              System.out.println(s2);
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            morning
                            Good
                          </code>
                        </pre>
                      </div>
                    </div>
                    <div class="code-example">
                      <div class="col-xs-6 col-md-12">
                        <h3>Swap String with third variable</h3>
                        <pre class="code-block">
                          <code class="java">
                            import java.lang.*;
                            import java.io.*;
                            import java.util.*;

                            public class Test {
                            public static void main(String[] args) {
                              String s1="Good", s2="morning", temp;
                              temp=s1;
                              s1=s2;
                              s2=temp;
                              System.out.println(s1);
                              System.out.println(s2);
                            }
                          }
                          </code>
                        </pre>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h3>O/P</h3>
                        <pre class="code-block">
                          <code class="java">
                            morning
                            Good
                          </code>
                        </pre>
                      </div>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
          </div>                              
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      initializeOriginalTexts();
      navActivePage();
    });

    function initializeOriginalTexts() {
      var tabContents = document.querySelectorAll(".tab-content");
      tabContents.forEach(function(content) {
        content.setAttribute("data-original-text", content.innerHTML);
      });
    }

    function showTabContent(tab) {
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = "none";
      }
      document.getElementById(tab + "-content").style.display = "block";
    }

    function searchTabContent(tab) {
      var searchTerm = document.querySelector(".search-input").value.toLowerCase();
      var tabContent = document.getElementById(tab + "-content");
      var originalText = tabContent.getAttribute('data-original-text');
      var highlightedText = originalText.replace(new RegExp(searchTerm, 'gi'), function(match) {
        return '<span class="highlight">' + match + '</span>';
      });

      tabContent.innerHTML = searchTerm === '' ? originalText : highlightedText;      
    }

    function searchAndScroll() {
  var searchTerm = document.querySelector("#searchInput").value;
  if (searchTerm === "") return;

  var tabContents = document.querySelectorAll(".tab-content");
  var found = false;

  tabContents.forEach(function(content) {
    var text = content.getAttribute('data-original-text');
    if (text.toLowerCase().includes(searchTerm.toLowerCase())) {
      content.innerHTML = text.replace(new RegExp(searchTerm, 'gi'), function(match) {
        return '<span class="highlight">' + match + '</span>';
      });
      content.style.display = "block";

      var highlightedElement = content.querySelector(".highlight");
      if (highlightedElement) {
        highlightedElement.scrollIntoView({ behavior: "smooth", block: "center" });
        found = true;
      }
    } else {
      content.innerHTML = text;
      // content.style.display = "none";
    }
  });

  if (!found) {
    alert("Search term not found in the code examples.");
  }
}
    showTabContent('java');
  </script>

  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>
